#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#


# panel ko config
CONFIG_DRM_PANEL_MOT_DUMMY_VDO_60HZ=y
CONFIG_DRM_PANEL_BOE_NT37701A_655_FHD_VDO_144HZ=m
CONFIG_DRM_PANEL_TM_VTDR6115_655_FHD_VDO_144HZ=y
CONFIG_DRM_PANEL_TM_VTDR6115_655_FHD_VDO_144HZ_V1=m

# TP config
CONFIG_TOUCHSCREEN_GOODIX_BRL_SPI=y
CONFIG_INPUT_TOUCHSCREEN_MMI=y
CONFIG_GTP_USE_MMI_INFO=y
CONFIG_GTP_MULTI_CONFIG=y
CONFIG_TOUCHCLASS_MMI_MTK_CHARGER=y
CONFIG_GTP_LAST_TIME=y
CONFIG_BOARD_USES_DOUBLE_TAP_CTRL=y
CONFIG_ENABLE_GTP_PALM_CANCEL=y
CONFIG_GTP_FOD=y
CONFIG_GTP_CS_DELAY=y
CONFIG_GTP_SPI_PINCTRL=y
CONFIG_GOODIX_ESD_ENABLE=y

